
/.venv
/.serena

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json





__pycache__
# Python package metadata
*.egg-info/

/tools
/.githooks
/.cache

image_viewer\settings.json
/image_viewer/settings.json
/image_viewer/libvips/
swiftview*.db
