/.github
/.venv
/.serena
/.vscode


__pycache__
# Python package metadata
*.egg-info/

/tools
/.githooks
/.cache
/dev-docs/


*.md
!README.md
image_viewer\settings.json
/image_viewer/settings.json
/image_viewer/libvips/
swiftview*.db
