/.github
/.venv
/.serena
/.vscode
__pycache__

/tools
/.githooks
/.cache


*.md
!README.md
image_viewer\settings.json
/image_viewer/settings.json
/image_viewer/libvips/
CONTROL_PANEL.md.backup
control.yaml
swiftview*.db
